/* Basic page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
}

/* Header */
header {
    background-color: #be123c;
    color: white;
    text-align: center;
    padding: 25px;
}

/* Profile cards */
.profiles {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 40px;
}

/* Card */
.profile-card {
    width: 250px;
    padding: 25px;

    background-color: white;
    text-align: center;

    border-radius: 15px;
    box-shadow: 0 5px 15px #cbd5e1;

    animation: fadeIn 1s ease-in-out;
    transition: 0.3s ease;
}

/* Card hover */
.profile-card:hover {
    transform: translateY(-10px);
    background-color: #fce7f3;
}

/* Images */
.profile-card img {
    width: 150px;
    height: 150px;

    object-fit: cover;

    border-radius: 50%;

    transition: 0.5s ease;
}

/* Different filters */
.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.brightness {
    filter: brightness(70%);
}

/* Remove filter on hover */
.profile-card:hover img {
    filter: none;
}

/* Fade-in animation */
@keyframes fadeIn {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer */
footer {
    background-color: #be123c;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Stack cards below 800px */
@media (max-width: 800px) {

    .profiles {
        flex-direction: column;
    }

    .profile-card {
        width: 70%;
    }
}