* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
}


/* Dashboard */

.dashboard {
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;

    min-height: 100vh;

    gap: 15px;
}


/* Header */

header {
    grid-column: 1 / 3;

    background-color: #4f46e5;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Sidebar */

aside {
    background-color: #1e293b;

    padding: 25px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

aside h2 {
    color: white;
}

aside a {
    color: white;
    text-decoration: none;
}


/* Main Content */

.content {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

    padding: 20px;
}


/* Boxes */

.box {
    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0px 3px 8px #cccccc;

    transition: 0.3s;
}


/* Box 3 spans two columns */

.box3 {
    grid-column: span 2;
}


/* Hover Effect */

.box:hover {
    transform: scale(1.05);

    box-shadow: 0px 8px 20px #999999;
}