body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dbeafe;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;

    background-color: white;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;

    padding: 12px;

    box-sizing: border-box;

    border: 2px solid #94a3b8;

    border-radius: 8px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Different outline on focus */
input:focus {
    outline: 3px solid #2563eb;
    outline-offset: 3px;
}

textarea:focus {
    outline: 3px dashed #9333ea;
    outline-offset: 4px;
}

textarea {
    height: 120px;
}

button {
    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;
    border-radius: 8px;

    background-color: #2563eb;
    color: white;
}